
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link:hover,
.link:focus,
.contact__link:hover,
.contact__link:focus,
.navigation__link:hover,
.navigation__link:focus {
  color: var(--brand-color);
}
.link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------HEADER----- */
.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.header-section__logo {
  display: flex;
  margin-right: 93px;
  color: var(--main-font-color);
}
.logo--color {
  color: var(--brand-color);
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.navigation {
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  justify-content: space-between;
}
.navigation__link {
  color: var(--main-font-color);
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__item {
  margin-right: 46px;
}
.navigation__link--active {
  color: var(--brand-color);
}
.navigation__link--active::after {
  content: "";
  display: block;
  border-top: 4px solid var(--brand-color);
  border-radius: 2px;
  position: relative;
  top: 31px;
  color: var(--brand-color);
}
.contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
.contact__item:first-child {
  margin-right: 50px;
}
.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contact__icon--envelope {
  width: 16px;
  height: 12px;
}
.contact__icon--smartphone {
  width: 10px;
  height: 36px;
}
.contact__link {
  display: flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----BANNER---- */
.banner {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
  color: #fff;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mainbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  align-items: center;
  margin: 0 auto;
}
.banner__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  max-width: 696px;
  text-transform: uppercase;
  margin: 0 auto 30px;
}
.button {
  color: #fff;
  cursor: pointer;
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto";
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.875em;
}
.button--banner {
  width: 200px;
  height: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color;
}
.button--banner:hover,
.button--banner:active {
  background-color: var(--brand-color);
  color: #fff;
}
/* -----LOREM IPSUM---- */

.article {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
}
.article__list {
  max-width: 270px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.article__title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
}
.article__text {
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.article__thumbnail {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bg-color);
}
.arcticle__icon {
  width: 70px;
  height: 70px;
}
/* ----CZYM SIĘ ZAJMUJEMY---- */
.about {
  padding-top: 0;
}
.section__title {
  font-size: 36px;
  line-height: 1.16;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 50px;
  letter-spacing: 0.03em;
}
.about__list {
  display: flex;
  justify-content: space-between;
}
.about__item {
  position: relative;
}

.about__overlay {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.114;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  top: 224px;
}
/* ----NASZ ZESPÓŁ---- */
.us {
  background-color: var(--bg-color);
}
.section__list {
  display: flex;
  justify-content: space-between;
}
.us__picture {
  margin: 0;
  width: 270px;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.2), 0px 1px rgba(0, 0, 0, 0.14),
    0px 1px rgba(0, 0, 0, 0.12);
}
.us__img {
  display: block;
}
.us__name {
  color: #212121;
  font-weight: 500;
  padding-top: 30px;
  line-height: 1.17;
  text-align: center;
}
.us__role {
  color: #757575;
  font-size: 16px;
  padding-bottom: 16px;
  line-height: 1.17;
  text-align: center;
}
/* ----KLIENCI---- */
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, border;
}
.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--brand-color);
  cursor: pointer;
  border: 1px solid var(--brand-color);
}
/* ----SOCIAL LINKI---- */
.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 30px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  fill: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
}
.social__icon {
  width: 20px;
  height: 20px;
}
.social__link:hover,
.social__link:active {
  fill: #fff;
  background-color: var(--brand-color);
}

/* ----FOOTER---- */
.footer {
  background-color: var(--footer-bg);
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  display: flex;
}
.footer-section {
  display: flex;
  align-items: flex-start;
}
.footer-contact {
  min-width: 245px;
}
.footer-section__logo {
  display: flex;
  color: #fff;
  margin-bottom: 20px;
  margin-right: 93px;
}
.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link:hover,
.footer-contact__link:focus {
  color: rgba(255, 255, 255, 1);
}
.footer-contact__list {
  display: block;
}
.footer-contact__item {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 9px;
}
.footer-contact__list:last-child {
  margin-bottom: 0;
}
.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 70px;
  padding-top: 12px;
}
.footer-social__title {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.footer-social__icon {
  display: flex;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--brand-color);
}
.newsletter {
  padding-left: 78px;
  padding-top: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.newsletter__form {
  display: flex;
}
.newsletter__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}
.newsletter__box {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding: 16px;
  margin-right: 12px;
}
.newsletter__box:focus {
  outline: none;
}
.newsletter__box::placeholder {
   font-size: 16px;
  line-height: 1.25;
}
.button--newsletter {
  width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.newsletter__icon {
  margin-left: 24px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
/* OKNO MODALNE */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.sign-up__title {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
}
.sign-up__form {
  display: flex;
  flex-direction: column;
}
.sign-up__box {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.sign-up__area {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, fill;
}
.sign-up__feedback {
  display: flex;
  resize: none;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}
.sign-up__feedback:hover,
.sign-up__area:hover {
  border: 1px solid var(--brand-color);
}
.sign-up__feedback:focus-visible,
.sign-up__area:focus-visible {
  outline: none;
  border: 1px solid var(--brand-color);
}
.sign-up__feedback::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.sign-up__icon {
  position: absolute;
  left: 55px;
  fill: #000;
}
.sign-up__icon--user {
  top: 107px;
  width: 12px;
  height: 12px;
}
.sign-up__icon--phone {
  top: 174px;
  width: 13px;
  height: 13px;
}
.sign-up__icon--email {
  top: 243px;
  width: 15px;
  height: 12px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.sign-up__box:focus-within svg {
  fill: var(--brand-color);
}

.button--policy {
  width: 200px;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
.policy__checkbox {
  width: auto;
  position: absolute;
  opacity: 0;
}
.policy__link {
  color: var(--brand-color);
}
.policy__text {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.policy__text::before {
  content: "";
  display: inline-block;
  margin-left: 0;
  margin-right: 9px;
  height: 16px;
  width: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  cursor: pointer;
}
.policy__checkbox:checked + .policy__text::before {
  border: none;
  background-color: var(--brand-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuOTU3MDMgNC43NTE2NkwxLjg4ODI1IDQuNjg2MDRMMS44MTkyMyA0Ljc1MTQxTDAuOTMxMjMgNS41OTI1OEwwLjg1NDg1OCA1LjY2NDkyTDAuOTMwOTc0IDUuNzM3NTNMNC40MjY3MSA5LjA3MjM2TDQuNDk1NzQgOS4xMzgyTDQuNTY0NzYgOS4wNzIzNkwxMi4wNjkgMS45MTM1MkwxMi4xNDQ5IDEuODQxMTZMMTIuMDY5IDEuNzY4ODFMMTEuMTg3MyAwLjkyNzY0NEwxMS4xMTgzIDAuODYxODI2TDExLjA0OTMgMC45Mjc2MTFMNC40OTU3NyA3LjE3MzUzTDEuOTU3MDMgNC43NTE2NloiIGZpbGw9IndoaXRlIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjAuMiIvPgo8L3N2Zz4K);
}
/* Strona Portfolio */

.filter__list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 34px;
}
.filter__item {
  margin-left: 8px;
  margin-bottom: 8px;
}
.button--filter {
  background-color: var(--bg-color);
  color: var(--main-font-color);
  padding: 6px 22px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  box-shadow: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, box-shadow;
}
.button--filter:hover,
.button--filter:focus,
.button--filter:active {
  color: #fff;
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ----SIATKA Z OFERTAMI---- */
.offer__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.offer__item {
  max-width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offer__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.offer__text {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  position: relative;
  z-index: 1001;
  background-color: #fff;
}
.offer__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px 24px;
}
.offer__category {
  color: var(--detail-color);
  line-height: 1.875em;
  padding: 0px 24px 20px 24px;
}
.offer__img {
  display: block;
}
.offer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
  z-index: 900;
}
.offer__overlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
}
.offer__item:hover .offer__overlay {
  transform: translateY(0);
}
