.filter {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
        gap: 8px;
      }
}
@media screen and (min-width: 768px) {
  .filter {
    padding-bottom: 30px;
    &__list {
    justify-content: center;
    }
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-bottom: 50px;
  }
}