.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
      font-size: 28px;
      line-height: 1.171;
      display: flex;
      justify-content: center;
      margin: 0;
      padding-bottom: 50px;
      letter-spacing: 0.03em;
    }
    
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 1200px){
    .section {
      padding-top: 94px;
      padding-bottom: 94px;
      &__title {
        font-size: 36px;
        line-height: 1.16;
      }
      &__list {
        flex-wrap: nowrap;
      }
    }
  }